body{
    background-color: bisque;
}
h1{
    background-color: darkseagreen;
    text-align: center;
    font-size: 60px;
    font-family: 'Mansalva', cursive;
    color: black;
    margin-left: 0px;
    margin-right: 0px;
}